*{
    margin: 0;
    padding: 0;
}

body{
    background-repeat: no-repeat;
    background-image: linear-gradient(180deg, #b6b6b6, #ff9100);
    background-color: #ff9100;
    width: 100%;
    height: 100%;
}

section{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10% auto;
    flex-direction: column;
    
    border: black 1px solid;
    border-radius: 10px;

    width: 500px;
    height: 213px;

    box-shadow: 2px 2px 30px 10px black;
    background-image: linear-gradient(180deg, #b6b6b6, #ff9100);
    transition: 1s;
}

section:hover{
    box-shadow: 2px 2px 30px 10px rgb(255, 255, 255);
}

section .relogio{
    display: flex;
}

section h1{
    margin: 20px;
    text-shadow: rgb(255, 255, 255) 3px 3px 3px;
}


.relogio p{
    text-align: center;
    margin-top: 20px;
}

span{
    margin-top: 60px;
    font-size: 30px;
}

.calendario{
    border: wheat 2px solid;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;

    background-image: linear-gradient(180deg, #cfd6fc, #4400ff);
    width: 490px;
}

.data, #dia{
    margin: 10px 0px 0px 75px;
    color: wheat;
}

.dias, .data{
    margin-bottom: 10px;
    color: wheat;

    text-shadow: rgb(0, 0, 0) 3px 3px 3px;
}

/* MEDIA QUERIES */

@media only screen and (max-width: 515px) {
    section{
        margin-top: 20%;
        width: 400px;
    }

    .data, #dia{
        margin-left: 25px;
    }

    .calendario{
        width: 390px;
    }
}

@media only screen and (max-width: 414px) {
    section{
        margin-top: 60%;
    }
}

@media only screen and (max-width: 403px) {
    section{
        margin-top: 50%;
        width: 300px;
        height: 160px;
    }

    section h1, span, h2{
        font-size: 15px;
    }

    .data, #dia{
        margin-left: 25px;
    }
    
    .calendario{
        width: 290px;
    }
}

